{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block content %}
    <h1 class="text-center">Mon Panier</h1>
    <p>Retrouver l'ensemble de produits que vous avez ajouté à votre panier !</p>
    {% if cart|length > 0 %}
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead> 
        {% set total = null %}
        <tbody>
            {% for product in cart %}   {# les produits ajouté dans le panier #}
                <tr>
                    <td>
                        <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="100px" width="100px">
                    </td>            
                    <td><strong> {{ product.product.name }}</strong> </br> 
                        <small> {{ product.product.subtitle }} </small>
                    </td>
                    <td>
                        <a href="{{path('decrease_to_cart', {'id': product.product.id })}}"><img src="{{ asset('assets/img/signe-moins.png') }}" alt="moins" height="12px"></a>
                            x {{ product.quantity }}
                        <a href="{{path('add_to_cart', {'id': product.product.id })}}"><img src="{{ asset('assets/img/plus.png') }}" alt="plus" height="12px"></a>
                    </td>
                    <td>{{ (product.product.price / 100)|number_format(2, ',', '.') }} €</td>
                    <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2, ',', '.') }} €</td>
                    <td>
                        <a href="{{ path('delete_to_cart', {'id': product.product.id}) }}">
                            <img src="{{ asset('assets/img/bin.png')}}" height="20px" alt="Supprimer">
                        </a>
                    </td>
                </tr>
                
            {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}    
        </tbody>
    </table>
    <div class="text-right mb-5">
        <b class="">Nombre de prodiuts : </b> {{ cart|length}} </br>
        <b class="">Total de mon panier : </b> {{ (total / 100)|number_format(2, ',', '.') }} € <br>
        <a href="{{path('app_order')}}" class="btn btn-success mt-3">Valider mon panier</a>  <a href="{{path('remove_my_cart')}}" class="btn btn-danger mt-3">Vider le panier</a>
    </div>
        {% else %}
            <hr>
            <p class="text-center"><b>Votre panier est vide 😔😔😔</b></p>
        {% endif %}

{% endblock %}
