{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="login" style="max-width: 400px; margin: 0 auto;">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">Une erreur est survenue, l'adresse mail ou le mot de passe est invalide</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">deconnexion</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Connectez vous !</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email" autocomplete="email" required autofocus>
        <label class="mt-3" for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <hr class="border-primary border-3 opacity-75">
        <button class="btn btn-sm btn-primary float-right" type="submit">
            Se connecter
        </button>
      
    </form>
</div>
{% endblock %}
