{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block title %}Home - Application{% endblock %}

{% block content %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing" >
      <!-- Three columns of text below the carousel -->
      <h3>Nos meilleurs ventes</h3>
      <p>Découvrire les articles le plus vendus</p>
      <div class="row">
        {% for product in products %}
          <div class="col-md-3">      
          {% include('product/single_product.html.twig') %} 
          </div><!-- /.col-lg-4 -->
        {% endfor %}
      </div><!-- /.row -->
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Une equipe au professionnel <span class="text-muted">au grand savoir faire</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img src="{{ asset('assets/img/first.jpg') }}" class="img-fluid">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Venez dans notre rencontre dans nos différents<span class="text-muted">boutique à Madagascar</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="{{ asset('assets/img/second.jpg') }}" class="img-fluid">
        </div>
      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
{% endblock %}
