{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{path('app_compte_address_add')}}" class="btn btn-info float-md-right">Ajouter une adresse</a>
        <h1>Mes adresses</h1>
        <hr>
        {% if app.user.addresses|length == 0 %}
            <p class="text-center">Vous n'avez pas encore ajouté des adresse dans votre compte. Pour en ajouter une, veuillez <a href="{{ path('app_compte_address_add') }}">Cliquer ici</a></p>
        {% else %}
            <div class="row">                 
            {% for address in app.user.addresses %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ address.address }}</h6>
                            <p class="card-text"> {{ address.postal }} - {{address.city}} - {{ address.country}} </p>
                            <h6 class="card-subtitle mb-2 text-muted">Tel : {{ address.phone }}</h6>
                            <a href="{{path('app_compte_address_edit', { 'id': address.id })}}" class="card-link">Modifier</a>
                            <a href="{{path('app_compte_address_delete', { 'id': address.id })}}" class="card-link">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        
    </div>
    <a href="{{path('app_compte')}}">Retour a mon compte</a>
{% endblock %}
