{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
    <h1 class="text-center" >Mon Compte</h1>
    <div class="container">
        <h3> Bienvenue {{ app.user.nom }}  dans votre compte. 😊</h3>
        {% if is_granted('ROLE_ADMIN') %} 
            <a href="{{path('admin')}}" >Vous êtes un administrateur, accéder au backoffice</a><br>
        {% endif %}
        <hr>    
        <div class="row">            
            <div class="col-md-4">
                <div class="account-items text-center">
                    <a href="{{path('app_compte_mdp')}}" >
                        <img src="{{ asset('assets/img/mot-de-passe.png') }}"><br/>
                        Modifier mot de passe
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="account-items text-center">
                    <a href="{{path('app_compte_address')}}">
                        <img src="{{ asset('assets/img/accueil.png') }}"><br/>
                        Gérer mes adresse
                    </a>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="account-items text-center">
                    <a href="#" >
                        <img src="{{ asset('assets/img/commande-traitee.png') }}"><br/>
                        Mes commandes 
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
