{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
    <h1 class="text-center" >Modifier le mot de passe</h1>
{% if notification %}
    <div class="alert alert-primary text-center">
        {{notification}}
    </div>
 {% endif %}
    <div class="container">
        {{ form(form) }}
        <a href="{{path('app_compte')}}">Retour a mon compte</a>
    </div>
{% endblock %}
