body {
    position: relative;
}
.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
    font-size: 15px;
}

.navbar-item-custom a:hover{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.footer-custom{
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 20PX;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item {
    margin-top: 50px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 200px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
    margin-bottom: 100px;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 10px;
}

.col-form-label {
    font-weight: bold;
}
.order-summary{
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}
.account-items {
    background-color: #95a5a6;
    padding: 70px;
}

.account-items a {
    text-transform: uppercase;
    font-size: 10px;
    color: #2c3e50;
    font-weight: bold;
    text-decoration: none;
}

.account-items a:hover {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
