{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name}}"class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name}}</h3>
            <p>{{ product.subtitle}}</p>            {# mettre en 2 chiffres apres virgule #}
            <span class="">{{ (product.price / 100)|number_format(2, ',', '.')}} €</span>
            <hr>
            <p> {{ product.description }} </p>
            {% if app.user %}
                <a href="{{ path('add_to_cart', {'id': product.id }) }}" class="btn btn-primary"> Ajouter au panier </a>
                <a href="{{ path('app_products')}}" class="btn btn-secondary"> Retour aux produits </a>
            {% else %}
                <a href="{{ path('app_products')}}" class="btn btn-secondary"> Retour aux produits </a>
            {% endif %}          
        </div>
    </div>
    <hr>
    <h3>Nos meilleurs ventes</h3>
    <p>Découvreire les articles le plus vendus</p>
    <div class="row">
      {% for product in products %}
        <div class="col-md-3">       
            {% include('product/single_product.html.twig') %} 
        </div>
      {% endfor %}
    </div>

{% endblock %}
