<div class="product-item text-center">
    <a href="{{path('app_product', {'slug': product.slug})}}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" style="width: 200px; height: 200px;"></a><br/><br/>
    <h5>{{ product.name }}</h5>
    <span class="product-subtitle">{{ product.subtitle }}</span>
    <span class="product-price">{{(product.price / 100)|number_format(2, ',', '.')}} €</span>
</div>