{% extends "base.html.twig" %}

{% block title %}Inscription {% endblock %}

{% block content %}
    <h1 class="text-center" >Inscrivez vous dans notre site !</h1>
    <div class="container" style="max-width: 700px; margin: 0 auto;">
    {{ form(form) }}
    </div>
{% endblock %}
