{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info text-center">{{ message }}</div>
    {% endfor %}
    <hr>
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Esokia - Madagascar</strong>
            <hr>
            03X XX XXX XX<br/>
            Trade Tower - Alarobia-Ivandry Antananarivo Madagasikara<br/>
            esokia@esokia.mg
        </div>
    </div>
{% endblock %}
