<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}Mon Application{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{asset('assets/css/mystyles.css')}}">
    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">    
    <link href="{{asset('assets/css/carousel.css')}}" rel="stylesheet">
    {% block javascript %}{% endblock %}

</head>
<body>
<header>
    <div class="container-fluid {% if block('nav') is defined %}mt-3 {% endif %}">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{path('app_home')}}">Esokia{#<img src="{{ asset('assets/img/index.png') }}" style="width:100px ;"> #}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_home')}}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_products')}}">Nos Produit <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_faq') }}" target="_blank">Qui somme nous ? <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_contact') }}">Contact <span class="sr-only">(current)</span></a>
                </li>
            </ul>            
            <div class="navbar-item-custom">
              {% if app.user %}
                <a href="{{ path('cart') }}"><img src="{{ asset('assets/img/panier.png')}}" alt="Mon panier" height="25px" style="padding-right: 20px ;" class="cart-icon"></a>
                <a href="{{path('app_compte')}}" class="">Mon Compte ({{app.user.nom}})</a> | <a href="{{path('app_logout')}}" class="">Deconnexion</a>
              {% else %}
                <a href="{{path('app_login')}}" class="">Connexion</a> | <a href="{{path('app_register')}}" class="">Inscription</a>
              {% endif %}
            </div>
            
        </div>
    </nav>
    </div>   

<main role="main">
        {% if block('carousel') is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for key,header in headers %}
          <li data-target="#myCarousel" data-slide-to="{{key}}" {% if key == 0 %} class="active" {% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for key,header in headers %}
        <div class="carousel-item {% if key == 0 %} active {% endif %}" style="background: url('/uploads/{{ header.illustration }}'); background-size:cover; ">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>{{header.title}}</h1>
              <p>{{header.content}}</p>
              <p><a class="btn btn-lg btn-primary" href="{{ header.btnUrl }}" role="button">{{ header.btnTitle }}</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
        {% endif %}
</header>
    <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %} " >
      {% block content %}{% endblock %}
    </div>

    <!-- FOOTER -->
    <footer class="footer-custom" >
        <p class="float-right"></p>
        <p>&copy; 2021-2022 Esokia : Stage <b> </b</p>
    </footer>
</main>
<script src="{{asset('assets/js/jquery.min.js')}}"></script>
<script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
</body>
</html>
{% block script %}{% endblock %}