{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande{% endblock %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
    

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Verifier vos information avant de le payer</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de Livraison</strong></br>
            <div class="form-check mt-4">
                {{ delivery|raw }}
            </div>
            </hr><br>
            <strong>Mon transporteur</strong><br>
            <div class="form-check">
                {{ carrier.name }}<br>
                {{ carrier.description }}<br>
                <strong>{{ carrier.price|number_format(2, ',', '.') }} €</strong>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande </b><br> 
            </div>

            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                <div class="row {% if key > 0 %}mt-2{% endif %}" >
                        <div class="col-md-2">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px" width="75px">
                        </div>
                        <div class="col-md-7 my-auto">
                            <strong> {{ product.product.name }}</strong> </br> 
                            <small> 
                                {{ product.product.subtitle }} 
                            </br>
                                X {{ product.quantity }} 
                            </small>
                        </div>
                        <div class="col-md-3 my-auto">
                            {{ ((product.product.price * product.quantity) / 100)|number_format(2, ',', '.') }} €
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous total :</strong>{{ (total / 100)|number_format(2, ',', '.') }} € <br>
            <strong>Livraison :</strong>{{ (carrier.price)|number_format(2, ',', '.') }} €
            <hr>
            <strong>Total : </strong> {{ ((total / 100) + carrier.price)|number_format(2, ',', '.') }} € 
            
        <a class="btn btn-success btn-block mt-3" id="checkout-button" type="submit">Payer : {{ ((total / 100) + carrier.price)|number_format(2, ',', '.') }} € </a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var stripe = Stripe("sk_test_51LFCfWB83JduqdtU23seuPMAY38MLd38tFXq7WLuFzYtfK0aVoa79jTFvP7UWGysOLUIuIAr8huClkRftfPSzheS00itoyyAVJ");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create_session", {
                method: "POST",
            })
            .then(function (response) {
                return response.json();
            })
                .then(function (session) {
                    return stripe.redirectToCheckout({sessionId: session.id});
                })
                .then(function (result){
                    if (result.error){
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error", error);
                });
        });
    </script>
{% endblock %}