{% extends 'base.html.twig' %}

{% block title %}Valider mon commande{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos preferences avant de passer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %}
                {{ form_start(form, {action:path('app_order_recap')})}} 
                    {{ form_label(form.addresses, 'Choissisez votre adresse de livraison') }} 
                    <a href=" {{path('app_compte_address_add') }}">Ajouter une nouvelle adresse</a>
                {{ form_end(form) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '</br>'})|raw }}<br>
           
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Recap de mon commande </b><br>
                <p>Retrouver votre recapitulatif de votre Produit</p>   
            </div>

            <div class="order-summary">
                {% for key,product in cart %}
                <div class="row {% if key > 0 %}mt-2{% endif %}" >
                        <div class="col-md-2">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px" width="75px">
                        </div>
                        <div class="col-md-8 my-auto">
                            <strong> {{ product.product.name }}</strong> </br> 
                            <small> {{ product.product.subtitle }} </small>
                        </div>
                        <div class="col-md-2 my-auto">
                           X {{ product.quantity }}
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
            
        
        </div>
    </div>
{% endblock %}
